:root {
    --shadow-color: #f4a7bb;
    --shadow-color-light: #f9c8d4;
}
body {
    background-color: #0d0e04;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #8f8f89;
}

nav a {
    margin: 20px 50px;
    font-size: xx-large;
    text-size-adjust: 30%;
}

a:hover {
    color: #b5697a;
}

#title {
    margin-left: 1em;
}

footer {
    text-align: center;
}

.active {
    color: #ffffff;
    animation: neon 3s infinite;
    cursor: not-allowed;
    pointer-events: none;
    letter-spacing: 2px;
}

@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
            0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
            0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
            0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}

h2,
h3,
p,
a {
    font-family: "Lexend", sans-serif;
}

h2,
h3,
p {
    color: #bab9b5;
}
